header{
    padding:20px;
    background-color: lightgreen;
    margin-bottom:10px;
    width:96%;
    text-align: center;
}
section div:first-child{
    padding:5px;
    background-color: pink;
    width:25%;
    float:left;
    height: 400px;
}
section div:nth-child(2){
    padding:5px;
    background-color: pink;
    width:68%; 
    float:right;
    height: 400px;
    }
.clear{ clear: both;}
footer{
    padding:20px; 
    background-color:lightgreen; 
    margin-top:10px;
    width:96%; 
    text-align: center;
}
