header div:first-child{padding: 4%; background: blue; width:35%; float: left;}
header div:nth-child(2){padding: 4%; background: green; width:35%; float: left;}
.clear{ clear: both;}
nav{background: red;padding:0%; width:86%}
nav ul{margin: 5px; padding:0;}
nav ul li{
    list-style: none; float: left; margin: 0.5%; padding: 1%; background: yellow
}
nav ul li a{text-decoration: none; display: block; width: 100%}
nav ul li:hover{background: lightgreen;}
.clear{ clear: both;}

section div:first-child{padding: 4%; background: blue; width:17%; float: left;}
section div:nth-child(2){padding: 4%; background: green; width:53%; float: left;}
.clear{ clear: both;}

footer {padding: 4%; background: yellow; margin-top: 0.5%; width:78%;}
.clear{ clear: both;}
